# Database configurations.
DB_NAME=proof_buddy_development
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_PORT=3306
DEBUG=True
SECRET_KEY=SOME_SECRET_KEY

# Email configurations.
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=email@example.com
EMAIL_HOST_PASSWORD=django_app_password
FRONTEND_URL=http://localhost:3000